baseURL = "/"
languageCode = "en-us"
title = "â‡ Kambiz Tavabi Ph.D"
theme = "hugo-theme-console"
publishDir = "docs"
ignoreFiles = ["\\.Rmd$", "\\.Rmarkdown$", "_cache$", "\\.knit\\.md$", "\\.utf8\\.md$"]

[params]
  # Cutting off the page title to two chars for mobile (console-demo -> co)
  titleCutting = false
  github = "https://github.com/ktavabi"
  twitter = "https://twitter.com/kambizzzy"
  relativeurls = true
  # Set the animation style -- https://animate.style/
  # To disable animations, please remove or comment animationStyle parameter
  animateStyle = "animated zoomIn fast" 

  [[params.navlinks]]
  name = "about/"
  url = "about"

  [[params.navlinks]]
  name = "resume/"
  url = "posts/images/resume.pdf"
  [[params.navlinks]]
  name = "posts/"
  url = "posts/"
  
  [[params.navlinks]]
  name = "photos/"
  url = "photos/"
  
  [Permalinks]
    post = "/:year/:month/:day/:slug/"

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

[outputs]
home = [ "HTML", "RSS", "JSON"]
